#Laravel 
/vendor/
composer.lock
 .location.swp
storage/
storage/*.key
.env
bootstrap/compiled.php
app/storage/
/storage/framework/cache/
/storage/framework/session/
/storage/framework/views/
resources/assets/.DS_Store

#Laravel Public 
public/mix-manifest.json
/public/hot
/public/storage
public_html/storage
public_html/hot
public/panel
public/images/

#Node
/node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

#Others
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
/ignorables/*
yarn.lock
package-lock.json
yarn.lock
composer.lock
.php_cs.cache
.phpunit.result.cache
storage/*.key
.vscode
.location.swp